.nav{
    background-color: green;
    overflow: hidden;
}

.nav a{
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.nav a:hover{
    background-color: green;
    color: black;
}

.nav a.active{
    background-color: #04AA6D;
    color: white
}