thead{
    background-color: lightsteelblue;
    border-color: lightblue;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
  
.odd{
    background-color: greenyellow;
    border-color: greenyellow;
}

.even{
    border-color: white;
}